{% extends "partition/layout.njk" %} {% block body %}
<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('images/bg-1.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-end justify-content-center"
    >
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h2 class="mb-0 bread">Services</h2>
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="index.html"
              >Home <i class="ion-ios-arrow-round-forward"></i></a
          ></span>
          <span>Services <i class="ion-ios-arrow-round-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="services-section ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Services</span>
        <h2 class="mb-4">Services Menu</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia
        </p>
      </div>
    </div>
    <div class="row no-gutters d-flex">
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="icon">
            <span class="flaticon-male-hair-of-head-and-face-shapes"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Haircut &amp; Styling</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="icon"><span class="flaticon-beard"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Beard</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="icon"><span class="flaticon-beauty-products"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Makeup</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="icon">
            <span class="flaticon-healthy-lifestyle-logo"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Tattoo</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-pricing">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Pricing</span>
        <h2 class="mb-4">Our Popular Prices Offer For Mens</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Hair Style</h3>
            <p>
              <span class="price">₹250.00</span>
              <span class="per">/ session</span>
            </p>
          </div>
          <ul>
            <li>Hair Dryer</li>
            <li>Hair Coloring</li>
            <li>Hair Cut</li>
            <li>Hair Dresser</li>
            <li>Hair Spa</li>
          </ul>
          <!-- <p class="button text-center">
            <a href="#" class="btn btn-primary px-4 py-3">Get Offer</a>
          </p> -->
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Manicure Pedicure</h3>
            <p>
              <span class="price">₹349.50</span>
              <span class="per">/ session</span>
            </p>
          </div>
          <ul>
            <li>Manicure</li>
            <li>Pedicure</li>
            <li>Coloring</li>
            <li>Nails</li>
            <li>Nail Cut</li>
          </ul>
          <!-- <p class="button text-center">
            <a href="#" class="btn btn-primary px-4 py-3">Get Offer</a>
          </p> -->
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry active pb-5 text-center">
          <div>
            <h3 class="mb-4">Makeup</h3>
            <p>
              <span class="price">₹399.50</span>
              <span class="per">/ session</span>
            </p>
          </div>
          <ul>
            <li>Makeup</li>
            <li>Professional Makeup</li>
            <li>Blush On</li>
            <li>Facial Massage</li>
            <li>Facial Spa</li>
          </ul>
          <!-- <p class="button text-center">
            <a href="#" class="btn btn-primary px-4 py-3">Get Offer</a>
          </p> -->
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Tattoo</h3>
            <p>
              <span class="price">₹449.50</span>
              <span class="per">/ session</span>
            </p>
          </div>
          <ul>
			<li>Watercolor Tattoo</li>
            <li>Traditional Tattoo</li>
            <li>Text-Based Tattoo</li>
            <li>Geometric Tattoo</li>
            <li>Japanese Tattoo</li>
          </ul>
          <!-- <p class="button text-center">
            <a href="#" class="btn btn-primary px-4 py-3">Get Offer</a>
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-pricing">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Pricing</span>
        <h2 class="mb-4">Our Popular Prices Offer For Womens</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Hair Style</h3>
            <p>
              <span class="price">₹350.00</span>
              <span class="per">/ session</span>
            </p>
          </div>
          <ul>
            <li>Hair Dryer</li>
            <li>Hair Coloring</li>
            <li>Hair Cut</li>
            <li>Hair Dresser</li>
            <li>Hair Spa</li>
          </ul>
          <!-- <p class="button text-center">
            <a href="#" class="btn btn-primary px-4 py-3">Get Offer</a>
          </p> -->
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Manicure Pedicure</h3>
            <p>
              <span class="price">₹449.50</span>
              <span class="per">/ session</span>
            </p>
          </div>
          <ul>
            <li>Manicure</li>
            <li>Pedicure</li>
            <li>Coloring</li>
            <li>Nails</li>
            <li>Nail Cut</li>
          </ul>
          <!-- <p class="button text-center">
            <a href="#" class="btn btn-primary px-4 py-3">Get Offer</a>
          </p> -->
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry active pb-5 text-center">
          <div>
            <h3 class="mb-4">Makeup</h3>
            <p>
              <span class="price">₹499.50</span>
              <span class="per">/ session</span>
            </p>
          </div>
          <ul>
            <li>Makeup</li>
            <li>Professional Makeup</li>
            <li>Blush On</li>
            <li>Facial Massage</li>
            <li>Facial Spa</li>
          </ul>
          <!-- <p class="button text-center">
            <a href="#" class="btn btn-primary px-4 py-3">Get Offer</a>
          </p> -->
        </div>
      </div>
      <div class="col-md-3 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">Tattoo</h3>
            <p>
              <span class="price">₹549.50</span>
              <span class="per">/ session</span>
            </p>
          </div>
          <ul>
			<li>Watercolor Tattoo</li>
            <li>Traditional Tattoo</li>
            <li>Text-Based Tattoo</li>
            <li>Geometric Tattoo</li>
            <li>Japanese Tattoo</li>
          </ul>
          <!-- <p class="button text-center">
            <a href="#" class="btn btn-primary px-4 py-3">Get Offer</a>
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="price__area section-padding">
      <div class="container">
        <div class="row justify-content-center align-items-center"><h4>Best Price For Particular Session</h4></div>
          <div class="row">
              <div class="col-xl-6 col-lg-6 mb-30">
                  <div class="price__area-item">
                      <div class="price__area-item-image">
                          <img src="assets/img/features/haircut.jpg" alt="">
                      </div>
                      <div class="price__area-item-content">
                          <h4>Trend Haircut<span>₹99</span></h4>
                          <p>Aenean imperdiet finibus sodales. Sed non ex nisl. Maecenas ut dictum neque,</p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 lg-mb-30">
                  <div class="price__area-item">
                      <div class="price__area-item-image">
                          <img src="assets/img/features/hairwash.jpg" alt="">
                      </div>
                      <div class="price__area-item-content">
                          <h4>Hair Washing<span>₹199</span></h4>
                          <p>Aenean imperdiet finibus sodales. Sed non ex nisl. Maecenas ut dictum neque,</p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 mb-30">
                  <div class="price__area-item">
                      <div class="price__area-item-image">
                          <img src="assets/img/features/facialtrim.jpg" alt="">
                      </div>
                      <div class="price__area-item-content">
                          <h4>Facial Trim<span>₹149</span></h4>
                          <p>Aenean imperdiet finibus sodales. Sed non ex nisl. Maecenas ut dictum neque,</p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 lg-mb-30">
                  <div class="price__area-item">
                      <div class="price__area-item-image">
                          <img src="assets/img/features/lathershave.jpg" alt="">
                      </div>
                      <div class="price__area-item-content">
                          <h4>Lather Shave<span>₹99</span></h4>
                          <p>Aenean imperdiet finibus sodales. Sed non ex nisl. Maecenas ut dictum neque,</p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 lg-mb-30">
                  <div class="price__area-item">
                      <div class="price__area-item-image">
                          <img src="assets/img/features/haircolor.jpg" alt="">
                      </div>
                      <div class="price__area-item-content">
                          <h4>Hair Coloring<span>₹349</span></h4>
                          <p>Aenean imperdiet finibus sodales. Sed non ex nisl. Maecenas ut dictum neque,</p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                  <div class="price__area-item">
                      <div class="price__area-item-image">
                          <img src="assets/img/features/headmassage.jpg" alt="">
                      </div>
                      <div class="price__area-item-content">
                          <h4>Head Massage<span>₹199</span></h4>
                          <p>Aenean imperdiet finibus sodales. Sed non ex nisl. Maecenas ut dictum neque,</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
  </div>
</section>

<section class="ftco-section ftco-booking bg-light">
  <div class="container ftco-relative">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Booking</span>
        <h2 class="mb-4">Make an Appointment</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia
        </p>
      </div>
    </div>
    <h3 class="vr">Call Us: 9825899266</h3>
    <div class="row justify-content-center">
      <div class="col-md-10 ftco-animate">
        <form action="/bookAppointmentPost" method="post" class="appointment-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="appointment_name"
                  placeholder="Name"
                  name="name"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="appointment_email"
                  placeholder="Email" name="email"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control appointment_date"
                  placeholder="Date"
                  name="date"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control appointment_time"
                  placeholder="Time"
                  name="time"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="select-wrap">
                  <div class="icon">
                    <span class="ion-ios-arrow-down"></span>
                  </div>
                  <select name="serviceType" id="" class="form-control">
                    <option value="makeup">Professional Makeup</option>
                    <option value="manicureOrPedicure">Manicure Pedicure</option>
                    <option value="tattoo">Tattoo</option>
                    <option value="haircut">Haircut</option>
                    <option value="hair color">Hair Coloring</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  placeholder="Phone"
                  name="phone"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea
                  name="message"
                  id=""
                  cols="30"
                  rows="7"
                  class="form-control"
                  placeholder="Message"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Make an Appointment"
              class="btn btn-primary"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
